* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.square {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 3px;
  background-color: rgb(29, 29, 29);
  transition-property: all;
  transition-timing-function: linear;
  transition-delay: 1s;
}

.square:hover {
  background-color: green;
}